mu-plugins/
ai1wm-backups/
upgrade/
uploads/
plugins/advanced-custom-fields/
plugins/all-in-one-wp-migration/
plugins/build/
plugins/loco-translate/
plugins/manual-image-crop/
plugins/members/
plugins/regenerate-thumbnails